body {
    margin: 0;
    font-family: Times New Roman, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #ffffff;
}

#header {
    background-color: #0c0c0c;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#header2 {
    text-align: Left;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f7f7f7;
    background-color: #0a1f00;
}

#footer {
    background-color: #0000001a;
    color: #000000;
    text-align: center;
    padding: 0.2rem;
}